<h1>Welcome</h1>

<h3>Login</h3>
<form action="/users" method="post">
	<%= token_tag nil %>
	<label>Email:</label>
	<input type="text" name="email">
	<label>Password:</label>
	<input type="password" name="password">
	<input type="submit" value="Login">
</form>

<a href="/packages">View Packages</a>