<h1>Welcome to MeeM</h1>
<h2>Your go to app for career advisement</h2>
<div class="login_page">
<form action="/users/login" method="post">
	<%= token_tag nil %>
	<label>Email:</label></br>
	<input type="text" name="email"></br>
	<label>Password:</label></br>
	<input type="password" name="password"></br>
	<input type="submit" value="Login">
</form>
</div>

<a href="/packages">View Packages</a>